__pycache__
*.pyc
venv
.venv
frontend/build
.git
*.log
__pypackages__
**/.env
**/.env.*
**/*.jks
**/*.keystore
**/key.properties
artifacts
temporary_git_transport
frontend/.dart_tool
frontend/android/.gradle
